{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="main-card">

            <h2 class="text-center mb-4">
                Login
            </h2>

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-primary btn-custom">
                    Login
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}